:root {
  /* #Color Base */
  --base-white: #fff;
  --base-dark: #080808;

  --transparent: transparent;

  /* #Color Brand */
  --brand-25: #fde9cc;
  --brand-50: #fbdeb3;
  --brand-100: #fad399;
  --brand-200: #f9c980;
  --brand-300: #f8be66;
  --brand-400: #f7b34d;
  --brand-500: #f5a833;
  --brand-600: #f49d1a;
  --brand-700: #f39200;
  --brand-800: #db8300;
  --brand-900: #c27500;
  --brand-950: #aa6600;

  /* #Color / Grey-Dark */
  --grey-dark-25: #fafafa;
  --grey-dark-50: #f7f7f7;
  --grey-dark-100: #f0f0f1;
  --grey-dark-200: #ececed;
  --grey-dark-300: #cecfd2;
  --grey-dark-400: #94979c;
  --grey-dark-500: #85888e;
  --grey-dark-600: #61656c;
  --grey-dark-700: #373a41;
  --grey-dark-800: #22262f;
  --grey-dark-900: #13161b;
  --grey-dark-950: #0c0e12;

  /* #Color / Grey-Light */
  --grey-light-25: #fdfdfd;
  --grey-light-50: #fafafa;
  --grey-light-100: #f5f5f5;
  --grey-light-200: #e9eaeb;
  --grey-light-300: #d5d7da;
  --grey-light-400: #a4a7ae;
  --grey-light-500: #717680;
  --grey-light-600: #535862;
  --grey-light-700: #414651;
  --grey-light-800: #252b37;
  --grey-light-900: #181d27;
  --grey-light-950: #0a0d12;

  /* #Color / Opacity */
  --opacity-alpha-05: rgba(255, 255, 255, 0.05);

  /* #Color / Red */
  --red-600: #d92d20;

  /* Background */
  /* ================================================================ */

  --bg-grey-primary-active: var(--opacity-alpha-05);
  --bg-grey-primary-hover: var(--grey-light-50);
  --bg-grey-primary-pressed: var(--grey-light-100);
  --bg-grey-primary-pressed-hover: var(--grey-light-200);
  --bg-grey-secondary-active: var(--grey-light-50);
  --bg-grey-secondary-hover: var(--grey-light-100);
  --bg-grey-tertiary-active: var(--grey-light-100);
  --bg-grey-tertiary-hover: var(--grey-light-200);

  /* Foreground */
  /* ================================================================ */

  --fg-error-primary: var(--red-600);

  --fg-grey-primary-white: var(--base-white);
  --fg-grey-primary: var(--grey-light-900);
  --fg-grey-secondary: var(--grey-light-700);
  --fg-grey-secondary-hover: var(--grey-light-800);
  --fg-grey-tertiary: var(--grey-light-600);
  --fg-grey-tertiary-hover: var(--grey-light-700);
  --fg-grey-quarternary: var(--grey-light-500);
  --fg-grey-quarternary-hover: var(--grey-light-600);
  --fg-grey-quinary: var(--grey-light-400);
  --fg-grey-quinary-hover: var(--grey-light-500);

  --fg-inactive-placeholder: var(--grey-light-400);
  --fg-inactive-disabled: var(--grey-light-400);
  --fg-inactive-disabled-subtle: var(--grey-light-300);
  --fg-inactive-disabled-white: var(--base-white);

  /* Strokes */
  /* ========================================================================= */

  --stroke-grey-primary: var(--grey-light-300);
}
