@import "tailwindcss";

/* @layer theme, base, components, utilities;
/* @import "tailwindcss/theme.css" layer(theme); */
/* @import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities); */

@import "./colors_external.css";
@import "./typography_external.css";
@import "./variables_external.css";

.grecaptcha-badge {
  visibility: hidden;
}

@theme {
  --breakpoint-mobile: 384px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
  --breakpoint-xldesktop: 1400px;

  --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);

  --inset-shadow-2xs: inset 0 1px rgb(0 0 0 / 0.05);
  --inset-shadow-xs: inset 0 1px 1px rgb(0 0 0 / 0.05);
  --inset-shadow-sm: inset 0 2px 4px rgb(0 0 0 / 0.05);

  --blur-xs: 4px;
  --blur-sm: 8px;
  --blur-md: 12px;
  --blur-lg: 16px;
  --blur-xl: 24px;
  --blur-2xl: 40px;
  --blur-3xl: 64px;

  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

  --drop-shadow-xs: 0 1px 1px rgb(0 0 0 / 0.05);
  --drop-shadow-sm: 0 1px 2px rgb(0 0 0 / 0.15);
  --drop-shadow-md: 0 3px 3px rgb(0 0 0 / 0.12);
  --drop-shadow-lg: 0 4px 4px rgb(0 0 0 / 0.15);
  --drop-shadow-xl: 0 9px 7px rgb(0 0 0 / 0.1);
  --drop-shadow-2xl: 0 25px 25px rgb(0 0 0 / 0.15);

  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0em;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;

  --color-base-white: #ffffff;
  --color-base-black: #000000;
  --color-transparent: transparent;
  --color-inherit: inherit;

  --color-primary: var(--brand-700);
  --color-secondary: var(--grey-dark-300);

  --color-custom-grey: #ededed;

  --color-title-grey: var(--fg-grey-primary);
  --color-description-grey: var(--fg-grey-tertiary);
  --color-brand-25: var(--brand-25);
  --color-brand-50: var(--brand-50);
  --color-brand-100: var(--brand-100);
  --color-brand-200: var(--brand-200);
  --color-brand-300: var(--brand-300);
  --color-brand-400: var(--brand-400);
  --color-brand-500: var(--brand-500);
  --color-brand-600: var(--brand-600);
  --color-brand-700: var(--brand-700);
  --color-brand-800: var(--brand-800);
  --color-brand-900: var(--brand-900);
  --color-brand-950: var(--brand-950);

  --color-green-25: var(--green-25);
  --color-green-50: var(--green-50);
  --color-green-100: var(--green-100);
  --color-green-200: var(--green-200);
  --color-green-300: var(--green-300);
  --color-green-400: var(--green-400);
  --color-green-500: var(--green-500);
  --color-green-600: var(--green-600);
  --color-green-700: var(--green-700);
  --color-green-800: var(--green-800);
  --color-green-900: var(--green-900);
  --color-green-950: var(--green-950);

  --color-grey-dark-25: var(--grey-dark-25);
  --color-grey-dark-50: var(--grey-dark-50);
  --color-grey-dark-100: var(--grey-dark-100);
  --color-grey-dark-200: var(--grey-dark-200);
  --color-grey-dark-300: var(--grey-dark-300);
  --color-grey-dark-400: var(--grey-dark-400);
  --color-grey-dark-500: var(--grey-dark-500);
  --color-grey-dark-600: var(--grey-dark-600);
  --color-grey-dark-700: var(--grey-dark-700);
  --color-grey-dark-800: var(--grey-dark-800);
  --color-grey-dark-900: var(--grey-dark-900);
  --color-grey-dark-950: var(--grey-dark-950);

  --color-grey-light-25: var(--grey-light-25);
  --color-grey-light-50: var(--grey-light-50);
  --color-grey-light-100: var(--grey-light-100);
  --color-grey-light-200: var(--grey-light-200);
  --color-grey-light-300: var(--grey-light-300);
  --color-grey-light-400: var(--grey-light-400);
  --color-grey-light-500: var(--grey-light-500);
  --color-grey-light-600: var(--grey-light-600);
  --color-grey-light-700: var(--grey-light-700);
  --color-grey-light-800: var(--grey-light-800);
  --color-grey-light-900: var(--grey-light-900);
  --color-grey-light-950: var(--grey-light-950);

  --color-red-25: var(--red-25);
  --color-red-50: var(--red-50);
  --color-red-100: var(--red-100);
  --color-red-200: var(--red-200);
  --color-red-300: var(--red-300);
  --color-red-400: var(--red-400);
  --color-red-500: var(--red-500);
  --color-red-600: var(--red-600);
  --color-red-700: var(--red-700);
  --color-red-800: var(--red-800);
  --color-red-900: var(--red-900);
  --color-red-950: var(--red-950);

  --color-yellow-25: var(--yellow-25);
  --color-yellow-50: var(--yellow-50);
  --color-yellow-100: var(--yellow-100);
  --color-yellow-200: var(--yellow-200);
  --color-yellow-300: var(--yellow-300);
  --color-yellow-400: var(--yellow-400);
  --color-yellow-500: var(--yellow-500);
  --color-yellow-600: var(--yellow-600);
  --color-yellow-700: var(--yellow-700);
  --color-yellow-800: var(--yellow-800);
  --color-yellow-900: var(--yellow-900);
  --color-yellow-950: var(--yellow-950);

  /* Background - Alert */
  --color-bga-error-primary-solid-active: var(--bga-error-primary-solid-active);
  --color-bga-error-primary-solid-hover: var(--bga-error-primary-solid-hover);
  --color-bga-warning-primary-solid-active: var(
    --bga-warning-primary-solid-active
  );
  --color-bga-warning-primary-solid-hover: var(
    --bga-warning-primary-solid-hover
  );
  --color-bga-success-primary-solid-active: var(
    --bga-success-primary-solid-active
  );
  --color-bga-success-primary-solid-hover: var(
    --bga-success-primary-solid-hover
  );

  /* Background - Alerts */
  --color-bgal-error-primary-hover: var(--bgal-error-primary-hover);
  --color-bgal-error-secondary-active: var(--bgal-error-secondary-active);
  --color-bgal-error-secondary-hover: var(--bgal-error-secondary-hover);
  --color-bgal-error-tertiary: var(--bgal-error-tertiary);
  --color-bgal-warning-primary-hover: var(--bgal-warning-primary-hover);
  --color-bgal-warning-secondary-active: var(--bgal-warning-secondary-active);
  --color-bgal-warning-secondary-hover: var(--bgal-warning-secondary-hover);
  --color-bgal-warning-tertiary: var(--bgal-warning-tertiary);
  --color-bgal-success-primary-hover: var(--bgal-success-primary-hover);
  --color-bgal-success-secondary-active: var(--bgal-success-secondary-active);
  --color-bgal-success-secondary-active-2: var(
    --bgal-success-secondary-active-2
  );
  --color-bgal-success-tertiary: var(--bgal-success-tertiary);

  /* Background */
  --color-bg-brand-primary-hover: var(--bg-brand-primary-hover);
  --color-bg-brand-primary-pressed: var(--bg-brand-primary-pressed);
  --color-bg-brand-primary-pressed-hover: var(--bg-brand-primary-pressed-hover);
  --color-bg-brand-secondary-active: var(--bg-brand-secondary-active);
  --color-bg-brand-secondary-hover: var(--bg-brand-secondary-hover);
  --color-bg-brand-secondary-pressed: var(--bg-brand-secondary-pressed);
  --color-bg-brand-tertiary-active: var(--bg-brand-tertiary-active);

  /* Background - Brand */
  --color-bg-brand-primary-solid-blue-active: var(
    --bg-brand-primary-solid-blue-active
  );
  --color-bg-brand-primary-solid-blue-hover: var(
    --bg-brand-primary-solid-blue-hover
  );

  /* Background - Grey */
  --color-bg-grey-primary-active: var(--bg-grey-primary-active);
  --color-bg-grey-primary-hover: var(--bg-grey-primary-hover);
  --color-bg-grey-primary-pressed: var(--bg-grey-primary-pressed);
  --color-bg-grey-primary-pressed-hover: var(--bg-grey-primary-pressed-hover);
  --color-bg-grey-secondary-active: var(--bg-grey-secondary-active);
  --color-bg-grey-secondary-hover: var(--bg-grey-secondary-hover);
  --color-bg-grey-tertiary-active: var(--bg-grey-tertiary-active);
  --color-bg-grey-tertiary-hover: var(--bg-grey-tertiary-hover);

  /* Background - Inactive */
  --color-bg-grey-inactive-disabled: var(--bg-grey-inactive-disabled);
  --color-bg-brand-inactive-disabled: var(--bg-brand-inactive-disabled);

  /* Background - Surface */
  --color-sf-brand-primary: var(--sf-brand-primary);

  --color-sf-grey-primary: var(--sf-grey-primary);
  --color-sf-grey-primary-inverted: var(--sf-grey-primary-inverted);
  --color-sf-grey-secondary: var(--sf-grey-secondary);
  --color-sf-grey-secondary-inverted: var(--sf-grey-secondary-inverted);
  --color-sf-grey-tertiary: var(--sf-grey-tertiary);
  --color-sf-grey-tertiary-inverted: var(--sf-grey-tertiary-inverted);
  --color-sf-grey-quaternary: var(--sf-grey-quaternary);
  --color-sf-grey-quaternary-inverted: var(--sf-grey-quaternary-inverted);

  /* Foreground */
  --color-fg-error-primary: var(--fg-error-primary);
  --color-fg-error-primary-hover: var(--fg-error-primary-hover);
  --color-fg-error-secondary: var(--fg-error-secondary);
  --color-fg-warning-primary: var(--fg-warning-primary);
  --color-fg-warning-secondary: var(--fg-warning-secondary);
  --color-fg-success-primary: var(--fg-success-primary);
  --color-fg-success-secondary: var(--fg-success-secondary);

  /* Foreground - Brand */
  --color-fg-brand-primary: var(--fg-brand-primary);
  --color-fg-brand-secondary: var(--fg-brand-secondary);
  --color-fg-brand-secondary-hover: var(--fg-brand-secondary-hover);
  --color-fg-brand-tertiary: var(--fg-brand-tertiary);

  /* Foreground - Grey */
  --color-fg-grey-primary-white: var(--fg-grey-primary-white);
  --color-fg-grey-primary: var(--fg-grey-primary);
  --color-fg-grey-secondary: var(--fg-grey-secondary);
  --color-fg-grey-secondary-hover: var(--fg-grey-secondary-hover);
  --color-fg-grey-tertiary: var(--fg-grey-tertiary);
  --color-fg-grey-tertiary-hover: var(--fg-grey-tertiary-hover);
  --color-fg-grey-quarternary: var(--fg-grey-quarternary);
  --color-fg-grey-quarternary-hover: var(--fg-grey-quarternary-hover);
  --color-fg-grey-quinary: var(--fg-grey-quinary);
  --color-fg-grey-quinary-hover: var(--fg-grey-quinary-hover);

  /* Foreground - Inactive */
  --color-fg-inactive-placeholder: var(--fg-inactive-placeholder);
  --color-fg-inactive-disabled: var(--fg-inactive-disabled);
  --color-fg-inactive-disabled-subtle: var(--fg-inactive-disabled-subtle);
  --color-fg-inactive-disabled-white: var(--fg-inactive-disabled-white);

  /* Border color */
  --color-stroke-error-primary: var(--stroke-error-primary);
  --color-stroke-error-secondary: var(--stroke-error-secondary);
  --color-stroke-warning-primary: var(--stroke-warning-primary);
  --color-stroke-warning-secondary: var(--stroke-warning-secondary);
  --color-stroke-success-primary: var(--stroke-success-primary);
  --color-stroke-success-secondary: var(--stroke-success-secondary);

  --color-stroke-brand-primary: var(--stroke-brand-primary);
  --color-stroke-brand-secondary: var(--stroke-brand-secondary);
  --color-stroke-brand-tertiary: var(--stroke-brand-tertiary);

  --color-stroke-grey-primary: var(--stroke-grey-primary);
  --color-stroke-grey-primary-on-brand: var(--stroke-grey-primary-on-brand);
  --color-stroke-grey-secondary: var(--stroke-grey-secondary);
  --color-stroke-grey-tertiary: var(--stroke-grey-tertiary);

  /* Spacing */
  --spacing-0: 0px;
  --spacing: 1px;
  --spacing-2: var(--p-responsive-2);
  --spacing-4: var(--p-responsive-4);
  --spacing-6: var(--p-responsive-6);
  --spacing-8: var(--p-responsive-8);
  --spacing-10: var(--p-responsive-10);
  --spacing-12: var(--p-responsive-12);
  --spacing-16: var(--p-responsive-16);
  --spacing-20: var(--p-responsive-20);
  --spacing-24: var(--p-responsive-24);
  --spacing-32: var(--p-responsive-32);
  --spacing-40: var(--p-responsive-40);
  --spacing-44: var(--p-responsive-44);
  --spacing-52: var(--p-responsive-52);
  --spacing-56: var(--p-responsive-56);
  --spacing-64: var(--p-responsive-64);
  --spacing-72: var(--p-responsive-72);
  --spacing-80: var(--p-responsive-80);
  --spacing-88: var(--p-responsive-88);
  --spacing-90: var(--p-responsive-90);
  --spacing-96: var(--p-responsive-96);
  --spacing-112: var(--p-responsive-112);
  --spacing-120: var(--p-responsive-120);
  --spacing-128: var(--p-responsive-128);
  --spacing-160: var(--p-responsive-160);
  --spacing-176: var(--p-responsive-176);

  /* Container */
  --container-0: 0px;
  --container: 1px;
  --container-2: var(--g-responsive-2);
  --container-4: var(--g-responsive-4);
  --container-6: var(--g-responsive-6);
  --container-8: var(--g-responsive-8);
  --container-10: var(--g-responsive-10);
  --container-12: var(--g-responsive-12);
  --container-16: var(--g-responsive-16);
  --container-20: var(--g-responsive-20);
  --container-24: var(--g-responsive-24);
  --container-32: var(--g-responsive-32);
  --container-40: var(--g-responsive-40);
  --container-52: var(--g-responsive-52);
  --container-56: var(--g-responsive-56);
  --container-64: var(--g-responsive-64);
  --container-80: var(--g-responsive-80);
  --container-96: var(--g-responsive-96);
  --container-128: var(--g-responsive-128);
  --container-192: var(--g-responsive-192);
  --container-256: var(--g-responsive-256);

  /* Font size */
  --text-10: var(--responsive-font-size-10);
  --text-10--line-height: var(--responsive-line-height-12);
  --text-12: var(--responsive-font-size-12);
  --text-12--line-height: var(--responsive-line-height-16);
  --text-14: var(--responsive-font-size-14);
  --text-14--line-height: var(--responsive-line-height-20);
  --text-16: var(--responsive-font-size-16);
  --text-16--line-height: var(--responsive-line-height-24);
  --text-18: var(--responsive-font-size-18);
  --text-18--line-height: var(--responsive-line-height-24);
  --text-20: var(--responsive-font-size-20);
  --text-20--line-height: var(--responsive-line-height-28);
  --text-24: var(--responsive-font-size-24);
  --text-24--line-height: var(--responsive-line-height-32);
  --text-32: var(--responsive-font-size-32);
  --text-32--line-height: var(--responsive-line-height-36);
  --text-36: var(--responsive-font-size-36);
  --text-36--line-height: var(--responsive-line-height-40);
  --text-40: var(--responsive-font-size-40);
  --text-40--line-height: var(--responsive-line-height-56);
  --text-48: var(--responsive-font-size-48);
  --text-48--line-height: var(--responsive-line-height-64);
  --text-64: var(--responsive-font-size-64);
  --text-64--line-height: var(--responsive-line-height-72);
  --text-80: var(--responsive-font-size-80);
  --text-80--line-height: var(--responsive-line-height-80);
  --text-96: var(--responsive-font-size-96);
  --text-96--line-height: var(--responsive-line-height-96);
  /* Line height */
  --leading-12: var(--responsive-line-height-12);
  --leading-14: var(--responsive-line-height-14);
  --leading-16: var(--responsive-line-height-16);
  --leading-20: var(--responsive-line-height-20);
  --leading-24: var(--responsive-line-height-24);
  --leading-28: var(--responsive-line-height-28);
  --leading-32: var(--responsive-line-height-32);
  --leading-36: var(--responsive-line-height-36);
  --leading-44: var(--responsive-line-height-44);
  --leading-56: var(--responsive-line-height-56);
  --leading-64: var(--responsive-line-height-64);
  --leading-72: var(--responsive-line-height-72);
  --leading-80: var(--responsive-line-height-80);
  --leading-96: var(--responsive-line-height-96);

  /* Font weight */
  --font-weight-extralight: var(--weight-extra-light);
  --font-weight-light: var(--weight-light);
  --font-weight-regular: var(--weight-regular);
  --font-weight-medium: var(--weight-medium);
  --font-weight-semibold: var(--weight-semibold);
  --font-weight-bold: var(--weight-bold);

  /* Border radius */
  --radius-0: var(--rounded-0);
  --radius-6: var(--rounded-6);
  --radius-8: var(--rounded-8);
  --radius-10: var(--rounded-10);
  --radius-12: var(--rounded-12);
  --radius-16: var(--rounded-16);
  --radius-24: var(--rounded-24);
  --radius-32: var(--rounded-32);
}

@layer components {
  .body-xs {
    @apply text-12 tablet:text-12 desktop:text-12;
  }

  .body-s {
    @apply text-12 tablet:text-14 desktop:text-14;
  }

  .body-m {
    @apply text-16 tablet:text-16 desktop:text-16;
  }

  .body-l {
    @apply text-18 tablet:text-18 desktop:text-18;
  }

  .body-xl {
    @apply text-18 tablet:text-18 desktop:text-20;
  }

  .heading-xs {
    @apply text-20 tablet:text-24 desktop:text-24;
  }

  .heading-s {
    @apply text-24 tablet:text-32 desktop:text-32;
  }

  .heading-m {
    @apply text-24 tablet:text-32 desktop:text-36;
  }

  .heading-l {
    @apply text-32 tablet:text-32 desktop:text-40;
  }

  .heading-xl {
    @apply text-36 tablet:text-40 desktop:text-48;
  }

  .heading-2xl {
    @apply text-36 tablet:text-48 desktop:text-64;
  }

  .heading-3xl {
    @apply text-48 tablet:text-64 desktop:text-80;
  }
}

.hero-carousel-line-active {
  animation: hero-carousel-line-active 5s ease-in forwards;
}

body {
  font-family: "Outfit Variable", sans-serif;
}

@keyframes hero-carousel-line-active {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
