---
import type { CollectionEntry } from "astro:content";
import { withBase } from "../utils/withBase";
import { getEntry } from "astro:content";

const footer = (await getEntry(
  "homepage",
  "-index"
)) as CollectionEntry<"homepage">;
const { copyright, powered_by, legal_notice, privacy_policy } =
  footer.data.footer;
---

<footer
  class="flex gap-40 w-full justify-between pb-64 pt-36 border-t border-t-stroke-grey-primary"
>
  <p class="body-m text-body-grey font-regular">{copyright}</p>
  <div class="flex gap-8 items-center">
    <p class="body-m text-body-grey font-regular">{powered_by}</p>
    <img
      src={withBase("/graphics/thespian.png")}
      alt="Powered by"
      class="w-112 h-24"
    />
  </div>
  <div class="flex gap-32 items-center">
    <a
      href="/legal-notice"
      target="_blank"
      class="body-m text-body-grey font-medium"
    >
      {legal_notice}
    </a>
    <a
      href="/privacy-policy"
      target="_blank"
      class="body-m text-body-grey font-medium"
    >
      {privacy_policy}
    </a>
  </div>
</footer>
