---
import Footer from "../components/Footer.astro";
import Header from "../react/Header";
import { Schema } from "astro-seo-schema";
import { SEO } from "astro-seo";
import { withBase } from "../utils/withBase";
import { getEntry } from "astro:content";
import type { CollectionEntry } from "astro:content";
import "@fontsource-variable/outfit";

const header = (await getEntry(
  "homepage",
  "-index"
)) as CollectionEntry<"homepage">;
const { links } = header.data.header;
const { buttons } = header.data;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "Service",
        name: "JobMatch",
        sameAs: ["https://www.jobmatchtalent.com/"],
        description:
          "JobMatch vam pomaže procijeniti kandidate i zaposlenike brzo, precizno i dokazano",
        url: "https://jobmatchtalent.hr",
        image: withBase("/logo.png"),
        contactPoint: {
          "@type": "ContactPoint",
          email: "info@thespian.hr",
          contactType: "Customer Support",
          areaServed: "HR & Recruitment",
          availableLanguage: ["hr", "en"],
        },
        serviceType: "JobMatch",
      }}
    />
    <SEO
      title="JobMatch - Procijenite kandidate i zaposlenike brzo, precizno i dokazano"
      description="JobMatch vam pomaže procijeniti kandidate i zaposlenike brzo, precizno i dokazano"
      canonical="https://jobmatchtalent.hr"
      openGraph={{
        basic: {
          title:
            "JobMatch - Procijenite kandidate i zaposlenike brzo, precizno i dokazano",
          type: "website",
          url: "https://jobmatchtalent.hr",
          image: withBase("/logo.png"),
        },
      }}
      extend={{
        link: [{ rel: "icon", href: withBase("/favicon.ico") }],
      }}
    />

    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="relative h-auto">
    <Header client:visible links={links} buttons={buttons} />
    <main class="flex flex-col mx-auto items-center">
      <slot />
      <Footer />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
  }
</style>
