---
import Footer from "../components/Footer.astro";
import Header from "../react/Header";
import { Schema } from "astro-seo-schema";
import { SEO } from "astro-seo";
import { withBase } from "../utils/withBase";
import { getEntry } from "astro:content";
import type { CollectionEntry } from "astro:content";
import "@fontsource-variable/outfit";

const header = (await getEntry(
  "homepage",
  "-index"
)) as CollectionEntry<"homepage">;
const { links } = header.data.header;
const { buttons } = header.data;
const PUBLIC_RECAPTCHA_SITE_KEY = import.meta.env.PUBLIC_RECAPTCHA_SITE_KEY;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    
    <!-- Google Tag Manager -->
    <script is:inline>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5HKBH5B7');
    </script>
    <!-- End Google Tag Manager -->

    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "Service",
        name: "JobMatch",
        sameAs: ["https://www.jobmatchtalent.com/"],
        description:
          "JobMatch vam pomaže procijeniti kandidate i zaposlenike brzo, precizno i dokazano",
        url: "https://jobmatchtalent.hr",
        image: withBase("/logo.png"),
        contactPoint: {
          "@type": "ContactPoint",
          email: "info@thespian.hr",
          contactType: "Customer Support",
          areaServed: "HR & Recruitment",
          availableLanguage: ["hr", "en"],
        },
        serviceType: "JobMatch",
      }}
    />
    <SEO
      title="JobMatch - Procijenite kandidate i zaposlenike brzo, precizno i dokazano"
      description="JobMatch vam pomaže procijeniti kandidate i zaposlenike brzo, precizno i dokazano"
      canonical="https://jobmatchtalent.hr"
      openGraph={{
        basic: {
          title:
            "JobMatch - Procijenite kandidate i zaposlenike brzo, precizno i dokazano",
          type: "website",
          url: "https://jobmatchtalent.hr",
          image: withBase("/logo.png"),
        },
      }}
      extend={{
        link: [{ rel: "icon", href: withBase("/favicon.ico") }],
      }}
    />

    <meta name="generator" content={Astro.generator} />
    <script
      is:inline
      defer
      src={`https://www.google.com/recaptcha/api.js?render=${PUBLIC_RECAPTCHA_SITE_KEY}`}
    ></script>
  </head>
  <body class="relative h-auto">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HKBH5B7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <Header client:visible links={links} buttons={buttons} />
    <main class="flex flex-col mx-auto items-center">
      <slot />
      <Footer />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
  }
</style>
