---
interface Props {
  className?: string;
  pt?: boolean;
  pb?: boolean;
  id?: string;
}

const { className, pt = false, pb = false, id } = Astro.props;
---

<section
  class:list={[
    "flex relative tablet:px-80 max-w-screen-xldesktop px-16 w-full justify-center",
    {
      "desktop:pt-128 pt-64": pt,
      "desktop:pb-128 pb-64": pb,
    },
  ]}
  id={id}
>
  <div class:list={["flex container w-full", className]}>
    <slot />
  </div>
</section>
